<!doctype html>
<html lang="en">
  <head>
  	<%- include('../template/head') %>
  </head>
  <%- include('../template/navbar') %>
  <div class="container">
		<form method="POST" action="/comments">
			<div class="mb-3">
		    <label class="form-label">留言</label>
		    <textarea name="content" class="form-control"></textarea>
		  </div>
		  <button type="submit" class="btn btn-primary">Submit</button>
		</form>

		


		
	</div>
</html>