<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">留言板</a>
    <form class="d-flex">
      <% if(username) { %>
        <a class="btn btn-outline-success" href="/logout">登出</a>
      <% } else { %>
        <div>
          <a class="btn btn-outline-primary" href="/register">註冊</a>
          <a class="btn btn-outline-success" href="/login">登入</a>
        </div>
        
      <% } %>
    </form>
  </div>
</nav>